{% extends 'agents/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'agents/css/about.css' %}" />

<h1>{{ title }}</h1>
<div class="about-content">
  <h2>О нашем агентстве недвижимости</h2>

  <p>
    Добро пожаловать в "ПремиумДом" – ваш надёжный партнер на рынке недвижимости
    с 2010 года. Мы специализируемся на предоставлении полного спектра услуг в
    сфере недвижимости, делая процесс покупки, продажи или аренды максимально
    комфортным для наших клиентов.
  </p>

  <h3>Наши преимущества:</h3>
  <ul>
    <li>Команда профессиональных риелторов с опытом работы более 10 лет</li>
    <li>Индивидуальный подход к каждому клиенту</li>
    <li>Полное юридическое сопровождение сделок</li>
    <li>Работа с объектами любой сложности</li>
    <li>Гарантия безопасности и прозрачности всех операций</li>
  </ul>

  <h3>Наши услуги:</h3>
  <ul>
    <li>Покупка и продажа жилой недвижимости</li>
    <li>Аренда коммерческих помещений</li>
    <li>Юридическое сопровождение сделок</li>
    <li>Оценка недвижимости</li>
    <li>Ипотечный брокеридж</li>
    <li>Консультации по инвестициям в недвижимость</li>
  </ul>

  <p>
    За годы работы мы помогли более 5000 клиентам обрести новый дом или выгодно
    инвестировать средства в недвижимость. Наша главная цель – не просто
    заключить сделку, а найти оптимальное решение для каждого клиента.
  </p>

  <h3>Наши контакты:</h3>
  <p>
    Адрес: г. Москва, ул. Тверская, д. 15<br />
    Телефон: +7 (495) 123-45-67<br />
    Email: info@premiumdom.ru
  </p>

  <p>
    Время работы:<br />
    Пн-Пт: 9:00 - 20:00<br />
    Сб: 10:00 - 18:00<br />
    Вс: по предварительной записи
  </p>
</div>
{% endblock %}
