{% extends 'agents/base.html' %} {% block content %}
<h1>{{ title }}</h1>
{% for ag in agents %}
<li>
  <a href="{{ ag.get_absolute_url }}"> {{ ag.name| upper }} </a>
</li>
{% endfor %}
<p>Всего агентов: {{ agents | length }}</p>
{% if auth %}
<p><a href="{% url 'addagent' %}">Добавить агента</a></p>
{% endif %} {% if page_obj.has_other_pages %}
<nav class="list-pages">
  {% if page_obj.has_previous %}
  <li class="page-num">
    <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
  </li>
  {% endif %} {% for p in paginator.page_range %} {% if page_obj.number == p %}
  <li class="page-num page-num-selected">{{ p }}</li>
  {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
  <li class="page-num">
    <a href="?page={{ p }}">{{ p }}</a>
  </li>
  {% endif %} {% endfor %} {% if page_obj.has_next %}
  <li class="page-num">
    <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
  </li>
  {% endif %}
</nav>

{% endif %} {% endblock %}
